.header {
  font-family: Arial;
  font-size: 2em;
  font-weight: 500;
}

.redText {
  color: #cb2c39;
  font-family: "Trebuchet MS";
  font-weight: 600;
}

.container {
  display: flex;
}

.lowerBoundsBox {
  width: 100px;
  height: 400px;
  background-color: #e9eff1;
  margin-right: 10px;
  padding: 20px;
  border-radius: 2.5%;
}

.histogramBox {
  width: 100px;
  height: 400px;
  background-color: #e9eff1;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 2.5%;
}

.newGradeBox {
  width: 100px;
  height: 100px;
  background-color: #e9eff1;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 2.5%;
}

input {
  width: 100%;
  box-sizing: border-box;
}
